<!doctype html>
<html lang='es'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&family=Open+Sans:ital,wght@0,300;0,500;0,700;1,700&display=swap" rel="stylesheet">
    <title>Desarrollo Web</title>
</head>

<body>
    
    <header class="header" id="inicio">
        
        <img src="/static/img/bx-bulb.svg" alt="Menu", class="bulb">

        <a href="/logout" class="logout">Log Out</a>

        <nav class="menu-navegacion">
            <a href="#inicio">Incio</a>
            <a href="#servicio">Servicios</a>
            <a href="#portafolio">Portafolio</a>
            <a href="#expertos">Expertos</a>
            <a href="#contacto">Contacto</a>
        </nav>

        <div class="contenedor head">
            <h1 class="titulo">Desarollo Web</h1>
            <p class="copy">Esta es una prueba de concepto</p>
        </div>
    </header>

<main>

    <section class="contenedor" id="servicio">
        <h2 class="subtitulo">Srevicios</h2>
        <div class="contenedor-servicios">
            
            <img src="static/img/data.svg" alt="">
            <div class="cheklist-servicios">
                <div class="srevice">
                    <h3 class="n-service"><span class="number">1 </span>Web</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est nihil laudantium labore nesciunt veniam eveniet delectus, quo ex! Eaque commodi beatae a hic eum? Quasi sit accusantium quibusdam quod vel.</p>
                </div>
                <div class="srevice">
                    <h3 class="n-service"><span class="number">2 </span>Back</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est nihil laudantium labore nesciunt veniam eveniet delectus, quo ex! Eaque commodi beatae a hic eum? Quasi sit accusantium quibusdam quod vel.</p>
                </div>
                <div class="srevice">
                    <h3 class="n-service"><span class="number">3 </span>Front</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est nihil laudantium labore nesciunt veniam eveniet delectus, quo ex! Eaque commodi beatae a hic eum? Quasi sit accusantium quibusdam quod vel.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="gallery" id="portafolio">

        <div class="contenedor">
            <h2 class="subtitulo">Mis Imagenes</h2>
            <div class="contenedor-galeria">
                <img src="/static/img/seguridad.svg" alt="" class="img-galeria">
                <img src="/static/img/data.svg" alt="" class="img-galeria">
                <img src="/static/img/seo.svg" alt="" class="img-galeria">
                <img src="/static/img/data.svg" alt="" class="img-galeria">
                <img src="/static/img/data.svg" alt="" class="img-galeria">
                <img src="/static/img/data.svg" alt="" class="img-galeria">
            </div>
        </div>

    </section>

    <section class="imagen-light">
        <img src="/img/bx-window-close.svg" alt="" class="close">
        <img src="/img/galery/seo.svg" alt="" class="agregar-imagen">
    </section>

    <section class="contenedor" id="expertos">
        <h2 class="subtitulo">Somos expertos</h2>
        <section class="experts">
            <div class="cont-experts">
                <img src="/static/img/checklist.svg" alt=""> 
                <h3 class="n-expert">Datos</h3>
            </div>
            <div class="cont-experts">
                <img src="/static/img/seguridad.svg" alt="">
                <h3 class="n-expert">Datos2</h3>
            </div>
            <div class="cont-experts">
                <img src="/static/img/data.svg" alt="">
                <h3 class="n-expert">Datos3</h3>
            </div>
        </section>
    </section>

</main>


    <footer id="contacto">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <h2 class="brand">Mauricio Cassab</h2>
                <p>Full Stack Devloepr</p>
            </div>
            <div class="soical-media">
                <a href="/" class="social-media-icon">
                
                    <i class='bx bxl-facebook' ></i>
                </a>
                
                
                <a href="/" class="social-media-icon">
                
                    <i class='bx bxl-github' ></i>
                </a>
                
                <a href="/" class="social-media-icon">
                    
                    <i class='bx bxl-instagram' ></i>
                </a>
            </div>
        </div>

        <div class="line"></div>

    </footer>

    
    <script src="static/js/lightbox.js"></script>
    <script src="static/js/menu.js"></script>

    
</body>


</html>